<%- include('./partials/head'); %>
<body> 
    <input type="checkbox" checked id="check">
    <header> 
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>

        <div class="left_area">
            <h3>DH <span>Fitness</span></h3>
        </div>

        <div class="right_area">
            <span class="right_area_profile" onclick="toggle_right_area_menu();"></span>
            <% if (typeof user !== "undefined") { %>
                <span><%= user.full_name %></span>
            <% } %>
        </div>

        <div class="right_area_menu">
            <h3>Plano Smart<br><span>Matrícula: 1945781</span></h3>
            <ul>
                <li><i class="far fa-user-circle"></i><a href="#">Editar Perfil</a></li>
                <li><i class="fas fa-sign-out-alt"></i>><a href="/users/logout">Sair</a></li>
            </ul>
        </div>
    </header>

    <!--Menu Lateral -->
    <%- include('./partials/sidebar'); %>

    <!-- Conteúdo -->
    <section class="content">
        <div class="students_filter">
            <h2>Edição de Dados do Aluno</h2>
                <div class="edit_dados_students" id="dados_students">
                    <form action="/students/alterar" method="POST">
                        <!--<h3>Cadastro de Alunos</h3>-->
                        <div class="inputStudents">
                            <label for ="nomeStudents">Email</label>
                            <input type="text" name="nomeStudents" id="nomeStudents" value="<%= dado_Student.email %>" placeholder="Nome Completo do Aluno">
                        </div>
                    </br>
                        <div class="inputStudents">
                            <label for="emailStudents">E-mail:</label>
                            <input type="email" name="emailStudents" id="emailStudents" placeholder="Entre com E-Mail">
                        </div>
                    </br>
                        <div class="inputStudents">
                            <label for="full_plan_students">Plano: 
                                <select name="full_plan_students" id="full_plan_students">
                                    <option value="plano" id="plano">Escolha o Plano</option>
                                    <% //plans.forEach(plan => { %>
                                        <option value="<%= //plan.id %>" id="<%= //plan.id %>"><%= //plan.title %></option>
                                    <% //}) %>
                                </select>
                            </label>
                            </br></br>
                            <label for="full_teachers_students">Modalidade: 
                                <select name="full_teachers_students" id="full_teachers_students">
                                    <option value="modalidade" id="modalidade">Modalidade</option>
                                    <% //teachers.forEach(teacher => { %>
                                        <option value="<%= //teacher.id %>" id="<%=// teacher.id %>"><%= //teacher.speciality %></option>
                                    <%// }) %>
                                </select>                                    
                            </label>
                        </div>
                    </br>
                        <div class="inputStudents">
                            <input type="submit" value="Editar">
                            <input type="reset" value="Deletar">
                        </div>                     
                </div>
        </div>                
    </section>

    <!-- Rodapé -->
    <%- include('./partials/footer'); %> 

    <script>
        function toggle_right_area_menu() {
            const toggleMenu = document.querySelector('.right_area_menu');
            toggleMenu.classList.toggle('activeMenu');
        }
   </script>
    
</body>

</html>